* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1em;
    position: relative;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    background-size: cover;
    background-attachment: fixed;
}

body > h1 {
    color: white;
    text-shadow: 0px 5px 5px rgba(0,0,0,0.2);
    font-size: 3em;
}

p {
    margin-bottom: 1em;
}

@media screen and (max-width: 600px) {
    body > h1 {
        top: 80px;
        font-size: 2em;
        text-align: center;
    }
}

form {
    max-width: 600px;
    width: 100%;
    position: relative;
    z-index: 1;
}

form fieldset {
    position: relative;
    padding: 1em;
    margin: 1.5em 0;
    background-color: white;
    border: none;
    border-radius: 10px;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
    z-index: 2;
    height: max-content;
}

form fieldset legend {
    padding-top: 60px;
    font-size: 1.5em;
    font-weight: bold;
}

form section {
    display: flex;
    align-items: center;
}

form section p {
    width: 100%;
}

form .radio {
    border-radius: 100px;
    overflow: hidden;
}

form .radio label {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 5;
}

form label, form input {
    display: block;
    width: 100%;
}

form .radio:not(:last-child) label {
    display: flex;
    border: 1px solid gray;
    aspect-ratio: 1/1;
    width: 100%;
    position: relative;
    justify-content: center;
    user-select: none;
}

form .radio:not(:last-child) label:hover {
    background-color: lightgray;
}

form .radio:not(:last-child) label:has(input:checked) {
    background-color: rgb(202, 202, 255);
    font-weight: bold;
    font-size: 1.5em;
}

form .radio:not(:last-child) label:has(input:checked):before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -1000%;
    width: 1000%;
    background-color: rgb(202, 202, 255);
    pointer-events: none;
    z-index: 3;
}

form .radio:not(:last-child) label:first-child {
    border-radius: 100% 0 0 100%;
}

form .radio:not(:last-child) label:last-child {
    border-radius: 0 100% 100% 0;
}

form label input[type=radio] {
    opacity: 0;
    height: 1px;
    width: 1px;
}

form input[type=submit] {
    margin-top: .5em;
}

form br {
    display: none;
}

form input[type=text]:not(:last-child) {
    margin-bottom: 1em;
}

form .opmerkingen textarea {
    width: 100%;
}

form .buttons {
    bottom: 1em;
    width: 100%;
    margin-top: 1em;
}

form .buttons.js-active {
    display: flex;
    justify-content: space-between;
}

input[type=text] {
    border-radius: 10px;
    margin-bottom: 1em;
    padding: 1em;
    border: none;
    background-color: rgba(0,0,0,0.1);
}

textarea {
    resize: vertical;
    border-radius: 10px;
    padding: 1em;
    border: none;
    background-color: rgba(0,0,0,0.1);
}

#previous, #next, #submit {
    border: none;
    padding: 1em 2em;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    width: 125px;
    text-align: center;
    background-color: #4158D0;
}

#previous:hover, #next:hover, #submit:hover {
    background-color: #7b8eef;
}

#next {
    margin-left: auto;
}

.docenten {
    margin-bottom: 1em;
}

.current {
    display: block;
}

.hidden {
    display: none;
}

form section:has(input[type=radio]:checked) {
    border: 2px solid green;
}

form section:has(input[type=radio]:invalid) {
    border: 2px solid red;
}

.progress {
    display: flex;
    gap: 1em;
    margin-top: 1em;
}

.step {
    width: 30px;
    height: 30px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
    transition: .2s;
}

.step:hover {
    background-color: white;
}

.currently {
    background-color: white;
}

.error {
    display: block;
    background-color: red;
    color: white;
    text-align: center;
    width: 100%;
    padding: .5em 0;
    border-radius: 10px;
    margin: 0;
    margin-top: 1em;
}